/* .border-style */
.border-style {
    --border-width: 3px;
  
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: white;
    background: white;
    border-radius: var(--border-width);
  
    &::after {
      position: absolute;
      content: "";
      top: calc(-1 * var(--border-width));
      left: calc(-1 * var(--border-width));
      z-index: -1;
      width: calc(100% + var(--border-width) * 2);
      height: calc(100% + var(--border-width) * 2);
      background: linear-gradient(
        60deg,
        hsl(225,48%, 44%),
        hsl(269,48%, 44%),
        hsl(314, 88%,80%),
        hsl(359, 88%,80%),
        hsl(44, 88%,80%),
        hsl(89, 88%,80%),
        hsl(134, 88%,80%),
        hsl(179, 88%,80%)
      );
      background-size: 300% 300%;
      background-position: 0 50%;
      border-radius: calc(2 * var(--border-width));
      animation: moveGradient 4s alternate infinite;
    }
  }
  
  @keyframes moveGradient {
    50% {
      background-position: 100% 50%;
    }
  }
  