.counters {
    padding: 3em 2em;
    margin-top: 100px;
    margin-bottom: 100px;
}

.counters > div {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 4em 2em;
}

.counter:not(:last-child)::before {
    content: '';
    background: #fff;
    position: absolute;
    width: 3px;
    height: 5em;
    top: 50%;
    transform: translateY(-50%);
    right: -1em;
}

@media screen and (max-width: 900px) and (min-width: 501px) {
    .counters > div {
        grid-template-columns: 1fr 1fr;
    }
    .counter:nth-child(2)::before{
        display: none;
    }
}

@media screen and (max-width: 500px) {
    .counters > div {
        grid-template-columns: 1fr;
        row-gap: 5em;
    }
    .counter:not(:last-child)::before {
        width: 90%;
        height: 3px;
        top: initial;
        right: initial;
        bottom: -3em;
        left: 5%;
        transform: translateY(-50%);
    }
}